/* Color style: http://colorschemedesigner.com/#3951YckGrp9Iu */
body {
	padding-top: 120px;
}

header {
	color: #999;
	background-color: #444;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 0px 0px 1px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
}

header nav ul {
	width: 100%;
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
}

header nav ul li {
	display: inline-block;
	list-style-type: none;
	font-family: "helvetica neue", "helvetica", "arial";
	font-weight: lighter;
	font-size: 30px;
	padding-bottom: 2px;
	border-bottom: 5px hidden;
	line-height: 90%;
	margin-right: 12px;
	margin-left: 1px;
}

header nav ul li.active {
	border-bottom: 5px solid #79b4e1;
}

header nav ul li a {
	color: #777;
	text-decoration: none;
}

header nav ul li a:hover {
	color: #79b4e1;
	text-decoration: none;
}

header nav ul li.active a {
	color: #aaa;
}

header div.logo {
	float: left;
}

header div.logo img {
	height: 39px;
	width: auto;
	padding-left: 6px;
}

header div.alert {
	margin: 1px 0px 0px 0px;
	border-radius: 0;
}

#account-info div {
	display: inline;
}

#account-info .available, #account-info .participant a {
	color: #79b4e1;
	cursor: pointer;
	font-weight: lighter;
}

#account-info .blocked, #account-info .available {
	float: right;
}

#account-info div.participant {
	font-size: 75%;
	vertical-align: middle;
	display: inline-block;
	line-height: 13px;
	padding-left: 6px;
	padding-right: 6px;
}

#account-info .balance {
	padding-bottom: 1px;
	padding-right: 6px;
	float: right;
	line-height: 19px;
	min-height: 39px;
}

#account-info .available {
	font-size: 150%;
	clear: right;
}

#account-info .blocked {
	color: #808080;
}

div.activity, div.worker, div.mandate {
	border: 1px solid #777;
	border-radius: .3em;
	margin-bottom: 4px;
	box-shadow: inset 0 2px 8px -7px #000;
	padding: .4em;
	overflow: hidden;
}

.activity .info, .mandate .validuntil, .mandate .tradesleft, .lasterror
	{
	font-size: 75%;
	margin-left: 1em;
}

div.activity {
	background-color: #d1dcef;
}

div.activity.history {
	background-color: #eee;
}

div.worker {
	background-color: #ceefe6;
}

div.mandate {
	background-color: #e6fad7;
}

.activity .type, .mandate .type, .key, .tradesleft, .validuntil,
	.lasterror {
	float: left;
}

.article {
	text-align: center;
	text-shadow: 0px 1px 2px #fff;
	margin-left: 1em;
	margin-right: 1em;
}

.activity .price, .mandate .price, .worker .status {
	float: right;
}

.activity .accepted {
	float: left;
	margin-right: 0.4em;
}

.closebtn {
	float: right;
}

.mandate .closebtn, .worker .closebtn {
	margin-left: 1em;
}

.lasterror {
	background-color: rgba(255, 255, 255, 0.5);
	color: #800;
}