{{define "pagename"}}{{text (printf "page.%v" .)}}{{end}}
{{define "pagepath"}}{{if eq . "home"}}/{{else}}/ui/{{.}}{{end}}{{end}}
{{define "pagelink"}}<a href="{{template "pagepath" .}}">{{template "pagename" .}}</a>{{end}}
{{define "pageitem"}}<li {{if eq .Current .Page}}class="active"{{end}}>{{template "pagelink" .Page}}</li>{{end}}
{{define "head"}}
<head>
<meta charset="utf-8" />
<title>{{template "pagename" .}} - BitWrk Client</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/client.css" rel="stylesheet" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="icon" href="/img/favicon.ico" />
</head>
{{end}}
{{define "js"}}
<script src="/js/jquery-1.10.2.js" ></script>
<script src="/js/jquery.cookie.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/js-iso8601.js" ></script>
<script src="/js/accountinfo.js" ></script>
<script src="/js/mandate-dialog.js" ></script>
<script src="/js/iframe-dialog.js" ></script>
<script src="/js/activity.js" ></script>
<script src="/js/workers.js" ></script>
<script src="/js/mandates.js" ></script>
<script src="/js/motd.js" ></script>
<script>
function showAccountInfo() {
	showIframeDialog('{{.ServerURL}}account/{{.ParticipantId}}');
}
function updateAccountInfo() {
    updateAccountInfoFor("{{.ParticipantId}}");
}
$(document).ready(function() {
	setInterval(updateAccountInfo, 30000);
	updateAccountInfo();
	$("#motd").hide()
	var updateMOTD = newMessageUpdater($("#motd"), $("#motd-content"));
	setInterval(updateMOTD, 60 * 60 * 1000);
	updateMOTD();
});
{{if .Page | eq "home"}}
$(document).ready(function() {
	setInterval(function() {updateActivities("{{.ServerURL}}");}, 500);
	updateActivities("{{.ServerURL}}");
	setInterval(updateWorkers, 500);
	updateWorkers();
	setInterval(updateMandates, 500);
	updateMandates();
});
{{end}}
</script>
{{end}}{{/*define "js"*/}}
<!doctype html>
<html>
{{template "head" .Page}}
<body>
{{template "js" .}}
<header>
<div id="account-info">
<div class="logo"><a href="http://bitwrk.net/" rel="noreferrer"><img src="/img/bitwrk.png"></a></div>
<div class="balance">
<div class="blocked">+Blocked <span></span></div>
<div class="available"><span></span></div>
</div>
<div class="participant">Welcome to BitWrk! Your account ID is:
  <br><a onclick="showAccountInfo()">{{.ParticipantId}}</a>
  <br>You are connected to: {{.ServerURL}}
</div>
<div style="clear:both;display:block"></div>
</div>
<nav>
<ul><!--
-->{{template "pageitem" dict "Current" .Page "Page" "home"}}<!--
-->{{template "pageitem" dict "Current" .Page "Page" "account"}}<!--
--></ul>
</nav>
<div id="motd" class="alert alert-dismissable alert-info">Message from server:
<span id="motd-content"></span>
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</header>
{{if .Page | eq "home"}}
<div class="col-sm-4"><h3>Activities</h3><div id="activities"></div></div>
<div class="col-sm-4"><h3>Workers</h3><div id="workers"></div></div>
<div class="col-sm-4"><h3>Mandates</h3><div id="mandates"></div></div>
{{end}}
<div id="mandateModal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<form method="POST">
<input type="hidden" name="action" value="permit" />
<input type="hidden" name="type" />
<input type="hidden" name="articleid" />
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title">Permit trade...</h4>
The BitWrk client is asking for your permission to perform a trade.</div>
<div id="mandateModalBody" class="modal-body">
<table>
<tr>
<th>Type</th>
<td colspan="2"><span class="text-info" id="perm-type-span"
>_BUY_</span> of <span class="text-info" id="perm-articleid-span"
>_ARTICLEID_</span></td>
</tr>
<tr>
<th>Price</th>
<td><input type="text" name="price" value="BTC 0.0001" /></td>
</tr>
<tr>
<th><label><input type="checkbox" name="usetradesleft"/> Valid for up to</label></th>
<td><input type="number" name="tradesleft" value="100" min="1"/> trades.</td>
</tr>
<tr>
<th><label><input type="checkbox" name="usevaliduntil"/> Valid for</label></th>
<td><input type="number" name="validminutes" value="20" min="1"/> minutes.</td>
</tr>
<tr>
<td colspan="3" class="text-muted">If none of the above options is checked, exactly one trade will be permitted.</td>
</tr>
</table>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal" data-target="#mandateModal">Cancel</button>
<input type="submit" class="btn btn-primary"/>
</div><!-- modal-footer -->
</form>
</div><!-- modal-body -->
</div><!-- modal-dialog -->
</div><!-- modal -->
<div id="iframeModal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title">Account/Bid/Transaction Detail</h4>This dialog shows detailed information about bids, transactions and accounts.</div>
<div class="modal-body">
<iframe id="iframe" src="about:blank" width="100%" height="360" style="border: 0px">
<p>Your web browser must be able to show &lt;iframe&gt; elements for this to work.
</iframe>
</div>
</div><!-- modal-body -->
</div><!-- modal-dialog -->
</div><!-- modal -->
</body>
</html>
